<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Puedes definir los estilos CSS para tu encabezado aquí si es necesario -->
    <style>
        /* Estilo para el encabezado */
        .header {
            height: 2cm; /* Altura del encabezado */
            /* Otros estilos, como colores de fondo, fuentes, etc. */
        }
        .encabezado {
            height: auto; /* Esto mantiene la proporción de la imagen */
            width:110%;
            margin-left: -50px;
        }
    </style>
</head>

<body>
    <div class="header">
        <!-- Contenido de tu encabezado -->
        <img src="http://localhost/Incos-LJPS/public/img/encabezado.png" alt="Logo" class="encabezado" >
        <!-- Otros elementos de tu encabezado -->
    </div>
</body>
</html>
