.contenedor{
    width: 25rem;
    background-color: rgba(255, 255, 255, 0.5); /* Color blanco semi-transparente (0.8 es la opacidad) */
    padding: 20px; /* Añade espacio alrededor del contenido para que el fondo sea visible */
}
.logo {
    height: 9rem;
    position: absolute;
    top: 0.7cm;
    left: 1cm;
}
.username{
    height: 1rem;
}
.password{
    height: 1rem;
}
.recordar{
    font-size: 0.9rem;
}
.olvidaste{
    font-size: 0.9rem;
}

/* Cambiar el color del texto "Iniciar Sesión" */
.text-center {
    color: #000000; /* Cambia el color del texto a rojo (#FF0000) */
}
.iconos{
background-color: rgb(216, 30, 30);
}
.btn{
    background-color: rgb(12, 54, 116);
}
.btn:hover {
background-color: rgba(12, 54, 116, 0.9); /* Cambiar el color en hover a uno semi-transparente */
}

